# Ingress
TIPS_INGRESS_ADDRESS=0.0.0.0
TIPS_INGRESS_PORT=8080
TIPS_INGRESS_RPC_MEMPOOL=http://localhost:2222
TIPS_INGRESS_TX_SUBMISSION_METHOD=mempool
TIPS_INGRESS_KAFKA_INGRESS_PROPERTIES_FILE=/app/docker/ingress-bundles-kafka-properties
TIPS_INGRESS_KAFKA_INGRESS_TOPIC=tips-ingress
TIPS_INGRESS_KAFKA_AUDIT_PROPERTIES_FILE=/app/docker/ingress-audit-kafka-properties
TIPS_INGRESS_KAFKA_AUDIT_TOPIC=tips-audit
TIPS_INGRESS_LOG_LEVEL=info
TIPS_INGRESS_SEND_TRANSACTION_DEFAULT_LIFETIME_SECONDS=10800
TIPS_INGRESS_RPC_SIMULATION=http://localhost:8549
TIPS_INGRESS_METRICS_ADDR=0.0.0.0:9002
TIPS_INGRESS_BLOCK_TIME_MILLISECONDS=2000
TIPS_INGRESS_METER_BUNDLE_TIMEOUT_MS=2000
TIPS_INGRESS_MAX_BUFFERED_METER_BUNDLE_RESPONSES=100
TIPS_INGRESS_BUILDER_RPCS=http://localhost:2222,http://localhost:2222,http://localhost:2222

# Audit service configuration
TIPS_AUDIT_KAFKA_PROPERTIES_FILE=/app/docker/audit-kafka-properties
TIPS_AUDIT_KAFKA_TOPIC=tips-audit
TIPS_AUDIT_LOG_LEVEL=info
TIPS_AUDIT_S3_BUCKET=tips
TIPS_AUDIT_S3_CONFIG_TYPE=manual
TIPS_AUDIT_S3_ENDPOINT=http://localhost:7000
TIPS_AUDIT_S3_REGION=us-east-1
TIPS_AUDIT_S3_ACCESS_KEY_ID=minioadmin
TIPS_AUDIT_S3_SECRET_ACCESS_KEY=minioadmin

# TIPS UI
TIPS_UI_AWS_REGION=us-east-1
TIPS_UI_S3_BUCKET_NAME=tips
TIPS_UI_S3_CONFIG_TYPE=manual
TIPS_UI_S3_ENDPOINT=http://localhost:7000
TIPS_UI_S3_ACCESS_KEY_ID=minioadmin
TIPS_UI_S3_SECRET_ACCESS_KEY=minioadmin