services:
  ingress-rpc:
    build:
      context: .
      dockerfile: Dockerfile
    command:
      - "/app/tips-ingress-rpc"
    container_name: tips-ingress-rpc
    ports:
      - "8080:8080"
      - "8081:8081"
      - "9002:9002"
    env_file:
      - .env.docker
    volumes:
      - ./docker/ingress-bundles-kafka-properties:/app/docker/ingress-bundles-kafka-properties:ro
      - ./docker/ingress-audit-kafka-properties:/app/docker/ingress-audit-kafka-properties:ro
      - ./docker/ingress-user-operation-consumer-kafka-properties:/app/docker/ingress-user-operation-consumer-kafka-properties:ro
    restart: unless-stopped

  audit:
    build:
      context: .
      dockerfile: Dockerfile
    command:
      - "/app/tips-audit"
    container_name: tips-audit
    env_file:
      - .env.docker
    volumes:
      - ./docker/audit-kafka-properties:/app/docker/audit-kafka-properties:ro
    restart: unless-stopped

  ui:
    build:
      context: .
      dockerfile: ui/Dockerfile
    ports:
      - "3000:3000"
    container_name: tips-ui
    env_file:
      - .env.docker
    restart: unless-stopped